.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.avatar {
  /* margin-left: 5px; */
  max-width: 40px;
  max-height: 40px;
  border-radius: 50%;
}

.mat-mini-fab {
  box-shadow: none;
}

/* ::ng-deep .mat-button-wrapper {
    padding: 0 !important;
  } */
